.container {
    width: 100px;
}

.action_component {
    position: absolute;
}

.dropdown {
    position: relative;
    transform: translateY(42px) translateX(-2px);
    min-width: 102px;
    width: max-content;
    background-color: white;
    border: 2px solid black;
    filter: drop-shadow(4px 5px 9px rgba(0, 0, 0, 0.112));
    padding: 10px;
    z-index: 165;
    font-size: 13px;
}